.valle-info-container {
    max-width: 1200px;
    margin: auto;
    padding: 200px;
}

.valle-info-container h2 {
    color: #ffd700;
    margin-top: 60px;
    font-weight: 600;
}

.valle-info-container ul {
    padding-left: 20px;
}

.valle-info-container ul li {
    margin-bottom: 90px;
    list-style: none;
    color: #fff;
}

.valle-info-container ul li i {
    margin-right: 20px;
    color: #ffd700;
}

.servicos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 120px;
}

.servico-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    transition: 0.3s;
    backdrop-filter: blur(10px);
}

.servico-card i {
    font-size: 30px;
    color: #ffd700;
    margin-bottom: 10px;
}

.servico-card h3 {
    color: #fff;
    margin-bottom: 10px;
}

.servico-card p {
    color: #ccc;
}

.servico-card:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.08);
}

.btn-contato {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 15px;
    transition: 0.3s;
    font-weight: bold;
}

.btn-contato:hover {
    background-color: #1ebe5b;
}

.btn-contato i {
    font-size: 18px;
}
